.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3.8rem);
}

app-footer {
  margin-top: auto;
}

.container {
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.neon-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid rgba(0, 255, 255, 0.7); /* Ajusta el color del borde neon */
  pointer-events: none;
  z-index: 1;
}

.main-image {
  display: block;
  width: 100%;
  z-index: 0;
}

